* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background: #89CFF0;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links li a:hover {
  color: blue;
}

/* 手機漢堡按鈕 */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* =====================
   RWD 設定
===================== */
@media (max-width: 768px) {

  .nav-links {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background: #00CED1;
    flex-direction: column;
    text-align: center;
    display: none;
  }

  .nav-links li {
    padding: 15px 0;
    border-top: 1px solid wheat;
  }

  .nav-links.show {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}



.simple-footer {
  background: #1f2937;
  color: #ffffff;
  text-align: center;
  padding: 16px 10px;
  font-size: 16px;
}

/* 手機自適應字體 */
@media (max-width: 768px) {
  .simple-footer {
    font-size: 14px;
    padding: 14px 8px;
  }
}

